body{
  margin-top: 10%;
  background-size: cover;
}
.clock{
  margin: 0 auto;
  width: 300px;
}

.glyphicon {
  margin: auto;
  text-align: center;
  font-size: 65pt;
  display: block;
}

a, a:hover{
  color:white;
  text-decoration:none;
}

a:hover > .glyphicon {
  text-decoration: none;
}
